a:focus, a:hover {color: #0091FF}
ul.social-links li a:hover {color: #0091FF}
.menu ul li a:after {border-top: 2px solid #0091FF}
.menu li a:hover {color: #0091FF}
.menu ul li.current-menu-item a {color: #0091FF}
.promo-text.icons {color: #0091FF}
.promo-border.icons {color: #0091FF}
.hi-icon.ver-industrial {background: #0091FF}
.hi-icon-effect .hi-icon.ver-industrial:hover {background: #0091FF}
.hi-icon-effect .hi-icon {color: #0091FF}
.hi-icon-effect .hi-icon:hover {color: #0091FF}
.multi-serv-icon i {color: #0091FF}
.cbp-l-filters-button .cbp-filter-item-active {background-color: #0091FF; border-color: #0091FF;}
.cbp-l-filters-button .cbp-filter-counter {background-color: #0091FF}
.cbp-l-filters-button .cbp-filter-counter:before {border-top: 4px solid #0091FF}
.cartcontents {background: #0091FF}
.wpmenucartli a:hover i {color: #0091FF}
.prlx-1-button a {background: #0091FF; border: 1px solid #0091FF;}
.prlx-1-button a:last-child:hover {border: 1px solid #0091FF}
.contact-icon {background: #0091FF}
.page-in-bread a {color: #0091FF}
.first-letter {background: #0091FF}
.list-check li  i {color: #0091FF}
.blog-name a:hover {color: #0091FF}
.blog-desc li i {color: #0091FF}
.sticky-lou.has-post-thumbnail .cl-blog-img:before {color: #0091FF}
.sticky-lou:before {color: #0091FF}
.cl-blog-name a:hover {color: #0091FF}
.cl-blog-type {color: #0091FF}
.cl-blog-read a:hover {color: #0091FF}
.pride_pg .current {color: #0091FF; border: 1px solid #0091FF;}
.pride_pg a:hover {color: #0091FF; border: 1px solid #0091FF;}
.blog-category li i {color: #0091FF}
.widget ul li > a:before {color: #0091FF}
.recentcomments:before {color: #0091FF}
.recentcomments a {color: #0091FF}
.rsswidget:before {color: #0091FF !important}
.rsswidget {color: #0091FF !important}
.tweet_list a {color: #0091FF}
.tweet_text a {color: #0091FF}
.tags-blog li a:hover {color: #0091FF}
.soc-blog li a:hover {color: #0091FF}
.comm_name {color: #0091FF}
.btn-default:hover {border: 1px solid #0091FF; color: #0091FF;}
.soc-about li a:hover {color: #0091FF}
.fact-icon {color: #0091FF}
.progress-bar-info {background-color: #0091FF}
.serv-marg i {color: #0091FF}
.serv-author {color: #333}
.serv-icon i {color: #0091FF}
.oops {color: #0091FF}
.ac-container label:hover {color: #0091FF}
.ac-container input:checked + label, .ac-container input:checked + label:hover {color: #0091FF}
.plan.featured h3 {color: #0091FF}
.plan.featured .price {color: #0091FF}
.btn-price {background-color: #0091FF; border-color: #0091FF;}
.btn-price:hover {color: #0091FF; border-color: #0091FF;}
.shortcode_tab_item_title.active {color: #0091FF}
.shortcode_tab_item_title:hover {color: #0091FF}
.tooltip_s {color: #0091FF}
.tooltip_s:hover {color: #0091FF}
.btn-pioneer {border: 1px solid #0091FF; background: #0091FF;}
.btn-pioneer:hover {color: #0091FF}
.testimonials .carousel-indicators .active {background: #0091FF; border: 1px solid #0091FF;}
.testimonials .carousel-indicators li {border: 1px solid #0091FF}
.testimonials .carousel-indicators li:hover {background: #0091FF; border: solid 1px #0091FF;}
.soc-footer li a:hover {color: #0091FF}
.btn-item:hover {color: #0091FF}
.item-heart i {color: #0091FF}
.progress-bar {background-color: #0091FF}
.small-list ul li i {color: #0091FF}
.small-title:before {background-color: #0091FF}
.about-us-title:before {background-color: #0091FF}
.about-us-list ul li i {color: #0091FF}
.purchase-btn a {border: 1px solid #0091FF}
.serv-block-link a {color: #0091FF}
.about-us-button a {border: 1px solid #0091FF}
.about-us-button-blue a {border: 1px solid #0091FF; background: #0091FF;}
.about-us-button-blue a:hover {border: 1px solid #0091FF; color: #0091FF;}
.color-bold {color: #0091FF}
figure.effect-bubba:hover {background: #0091FF}
.stats-desc.onepage .stats-icon {color: #0091FF}
.stats-icon-effect .stats-icon {color: #0091FF}
.stats-icon-effect .stats-icon:hover {color: #0091FF}
.mobile-icon {color: #0091FF}
.color-line {background: #0091FF}
.text_after_slider_sec {color: #0091FF}
.process-round.onepage .process-icon:hover {background: #0091FF}
.process-icon:hover {background: #0091FF}
.color-block.blue {background: #0091FF}
.demo_love i {color: #0091FF}
.shop-name a:hover {color: #0091FF}
.shop-desc li i {color: #0091FF}
.shop-desc a:hover i {color: #0091FF}
.price-shop {background: #0091FF}
.stars-shop li.active i {color: #0091FF}
.video-button a:hover {color: #0091FF}
.presentation-two-list-ul li i {color: #0091FF}
.post-thumbnail .single-item {background: rgba(0,145,255,0.6);}	