a:focus, a:hover {color: #FF9800}
ul.social-links li a:hover {color: #FF9800}
.menu ul li a:after {border-top: 2px solid #FF9800}
.menu li a:hover {color: #FF9800}
.menu ul li.current-menu-item a {color: #FF9800}
.promo-text.icons {color: #FF9800}
.promo-border.icons {color: #FF9800}
.hi-icon.ver-industrial {background: #FF9800}
.hi-icon-effect .hi-icon.ver-industrial:hover {background: #FF9800}
.hi-icon-effect .hi-icon {color: #FF9800}
.hi-icon-effect .hi-icon:hover {color: #FF9800}
.multi-serv-icon i {color: #FF9800}
.cbp-l-filters-button .cbp-filter-item-active {background-color: #FF9800; border-color: #FF9800;}
.cbp-l-filters-button .cbp-filter-counter {background-color: #FF9800}
.cbp-l-filters-button .cbp-filter-counter:before {border-top: 4px solid #FF9800}
.cartcontents {background: #FF9800}
.wpmenucartli a:hover i {color: #FF9800}
.prlx-1-button a {background: #FF9800; border: 1px solid #FF9800;}
.prlx-1-button a:last-child:hover {border: 1px solid #FF9800}
.contact-icon {background: #FF9800}
.page-in-bread a {color: #FF9800}
.first-letter {background: #FF9800}
.list-check li  i {color: #FF9800}
.blog-name a:hover {color: #FF9800}
.blog-desc li i {color: #FF9800}
.sticky-lou.has-post-thumbnail .cl-blog-img:before {color: #FF9800}
.sticky-lou:before {color: #FF9800}
.cl-blog-name a:hover {color: #FF9800}
.cl-blog-type {color: #FF9800}
.cl-blog-read a:hover {color: #FF9800}
.pride_pg .current {color: #FF9800; border: 1px solid #FF9800;}
.pride_pg a:hover {color: #FF9800; border: 1px solid #FF9800;}
.blog-category li i {color: #FF9800}
.widget ul li > a:before {color: #FF9800}
.recentcomments:before {color: #FF9800}
.recentcomments a {color: #FF9800}
.rsswidget:before {color: #FF9800 !important}
.rsswidget {color: #FF9800 !important}
.tweet_list a {color: #FF9800}
.tweet_text a {color: #FF9800}
.tags-blog li a:hover {color: #FF9800}
.soc-blog li a:hover {color: #FF9800}
.comm_name {color: #FF9800}
.btn-default:hover {border: 1px solid #FF9800; color: #FF9800;}
.soc-about li a:hover {color: #FF9800}
.fact-icon {color: #FF9800}
.progress-bar-info {background-color: #FF9800}
.serv-marg i {color: #FF9800}
.serv-author {color: #333}
.serv-icon i {color: #FF9800}
.oops {color: #FF9800}
.ac-container label:hover {color: #FF9800}
.ac-container input:checked + label, .ac-container input:checked + label:hover {color: #FF9800}
.plan.featured h3 {color: #FF9800}
.plan.featured .price {color: #FF9800}
.btn-price {background-color: #FF9800; border-color: #FF9800;}
.btn-price:hover {color: #FF9800; border-color: #FF9800;}
.shortcode_tab_item_title.active {color: #FF9800}
.shortcode_tab_item_title:hover {color: #FF9800}
.tooltip_s {color: #FF9800}
.tooltip_s:hover {color: #FF9800}
.btn-pioneer {border: 1px solid #FF9800; background: #FF9800;}
.btn-pioneer:hover {color: #FF9800}
.testimonials .carousel-indicators .active {background: #FF9800; border: 1px solid #FF9800;}
.testimonials .carousel-indicators li {border: 1px solid #FF9800}
.testimonials .carousel-indicators li:hover {background: #FF9800; border: solid 1px #FF9800;}
.soc-footer li a:hover {color: #FF9800}
.btn-item:hover {color: #FF9800}
.item-heart i {color: #FF9800}
.progress-bar {background-color: #FF9800}
.small-list ul li i {color: #FF9800}
.small-title:before {background-color: #FF9800}
.about-us-title:before {background-color: #FF9800}
.about-us-list ul li i {color: #FF9800}
.purchase-btn a {border: 1px solid #FF9800}
.serv-block-link a {color: #FF9800}
.about-us-button a {border: 1px solid #FF9800}
.about-us-button-blue a {border: 1px solid #FF9800; background: #FF9800;}
.about-us-button-blue a:hover {border: 1px solid #FF9800; color: #FF9800;}
.color-bold {color: #FF9800}
figure.effect-bubba:hover {background: #FF9800}
.stats-desc.onepage .stats-icon {color: #FF9800}
.stats-icon-effect .stats-icon {color: #FF9800}
.stats-icon-effect .stats-icon:hover {color: #FF9800}
.mobile-icon {color: #FF9800}
.color-line {background: #FF9800}
.text_after_slider_sec {color: #FF9800}
.process-round.onepage .process-icon:hover {background: #FF9800}
.process-icon:hover {background: #FF9800}
.color-block.blue {background: #FF9800}
.demo_love i {color: #FF9800}
.shop-name a:hover {color: #FF9800}
.shop-desc li i {color: #FF9800}
.shop-desc a:hover i {color: #FF9800}
.price-shop {background: #FF9800}
.stars-shop li.active i {color: #FF9800}
.video-button a:hover {color: #FF9800}
.presentation-two-list-ul li i {color: #FF9800}
.post-thumbnail .single-item {background: rgba(255,152,0,0.6);}